@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: local("☺"), url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.icon:before {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wp-icon:before {
  content: '\ea93';
  float: right;
  margin-left: 10px;
}
.timer:before {
  content: '\e901';
}
.fire:before {
  content: '\e9a9';
}
.plane:before {
  content: '\e9af';
}
.close:before {
  content: '\ea0f';
}
.wp:before {
  content: '\ea93';
}
.exit:before {
  content: '\ea0f';
}
